<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SlideShow</servlet-name>
        <servlet-class>SlideShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageModify</servlet-name>
        <servlet-class>ImageModify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlEditor</servlet-name>
        <servlet-class>XmlEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload2</servlet-name>
        <servlet-class>ImageUpload2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SlideShow</servlet-name>
        <url-pattern>/SlideShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageModify</servlet-name>
        <url-pattern>/ImageModify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlEditor</servlet-name>
        <url-pattern>/XmlEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload2</servlet-name>
        <url-pattern>/ImageUpload2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>

